<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}coding-ground{% endblock %}</title>
    <script  type="text/javascript" src="{% static 'codemirror/lib/codemirror.js' %}"></script>
  {% block script %} {% endblock %}
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/code_ide_style.css' %}">
      <link rel="stylesheet" href="{% static  'codemirror/lib/codemirror.css' %}">
      <link rel="stylesheet" href="{% static  'codemirror/theme/dracula.css' %}">



  </head>
  <body>

    {% block content %}

      <a href="{% url 'main-editor'  'frontend-editor'%}"> CSS/JavaScript/HTML</a>

      {% for language in languages  %}
      <br>
        <a href="{% url 'main-editor' language%}">{{language}}</a>

      {%endfor%}
    {% endblock %}
  </body>

</html>
