<!DOCTYPE html>

{% load static %}
<html lang="en" dir="ltr">
  <head>



    <meta charset="utf-8">
        <script src="{% static 'js/jquery.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/frontend_style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>



    <script  src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <link rel="stylesheet" href="{% static  'codemirror/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static  'codemirror/theme/blackboard.css' %}">


    <title>CSS / HTML / JAVASCRIPT</title>
    <style media="screen">
      body {
        background-color: #eee;
      }
    </style>
  </head>
  <body>
{% block content %}
  <h1>CSS / HTML / JS  EDITOR</h1>
    <div class="header"></div>
       <div class="wrap">
         <div class="result">
             <iframe onerror="true" src="" id="preview">

               <!DOCTYPE html>
               <html lang="en" dir="ltr">
                 <head>
                   <meta charset="utf-8">
                   <title></title>
                 </head>
                 <body>

                 </body>
               </html>

             </iframe>


         </div>

         <div class="code">
           <p>{{err}}</p>
           <form class="form-code-ajax" method="POST">
            {%csrf_token%}
            <button type="submit" class="btn btn-primary" name="button">Share</button>
            title :<input type="text" name="title" value="">
           <button class="accordion">HTML</button>
           <div  class="pannel">

               <textarea name="html" id="html">{{html}}</textarea>

           </div>

           <button class="accordion">CSS</button>
           <div  class="pannel">

                 <textarea  name="css" id="css">{{css}}</textarea>

           </div>

           <button class="accordion">JS/jQuery</button>

           <div  class="pannel">

                 <textarea  name="js" id="js" >{{js}}</textarea>

           </div>

            </form>
         </div>
       </div>

{%endblock%}
  </body>
      <script  src="{% static 'codemirror/mode/javascript/javascript.js' %}"></script>
      <script  src="{% static 'codemirror/mode/htmlmixed/htmlmixed.js' %}"></script>
      <script  src="{% static 'codemirror/mode/xml/xml.js' %}"></script>
      <script  src="{% static 'codemirror/mode/css/css.js' %}"></script>


    <script  src="{% static 'js/main_front.js' %}"></script>

</html>
