{% extends 'ide_index.html' %}
{% load static %}
{% block script %}
{{language_mode}}
{% endblock %}

{% block title %}{{ block.super }} | {{other_code.lang.name}}{%endblock%}

{% block head %}{% endblock %}
{% block content %}

<section class="site-section main-ide" style= "background-color:#343A40;">
  <div class="container" >

      <form class="form-code-ajax form-group" method="POST" action="" id="code_form">
        <!--navbar start -->
        <nav class=" navbar d-flex flex-row" >
          {% csrf_token %}
          <input type="text"  name="code-pk" value="{{other_code.code.pk}}" hidden>
          <input type="text"  name="owner-pk" value="{{request.user.student.pk}}" hidden>

          <input type="text"  name="vote-pk" value="{{voted_check}}" hidden>

          <input class="form-control col-md-2 col-sm-12 bg-dark border
               border-dark text-white"
          type="text" name="title" value="{{other_code.code.title}}" readonly>

          <h3 class=" mt-3 text-white text-center col-md-6 col-sm-2
          col-xs-5">{{other_code.lang.name}}</h3>

            {% if request.user.username == other_code.code.owner.user.username %}
            <button type="submit" class="btn btn-dark text-white" name="save">
              <i class="fas fa-recycle"></i>
              <br>
              update
            </button>
             {%else%}
             <button id="vote" type="button" name="vote"
             class="btn btn-dark">
             {% if voted_check %}
             <i class="fas fa-star text-warning"></i><br>voted
             {%else%}
             <i class="fas fa-star"></i><br>vote
             {%endif%}
             </button>
            {% endif %}
            <a href="{% url 'coding-ground' %}" class="btn btn-dark text-white">
              <i class="fas fa-times"></i>
              <br>
              close
            </a>

        </nav>
        <!-- navebar end -->
        <div class="row">

      <textarea class="cole-md-12 cole-sm-12" id="code_id" name="code"  form="code_form" autofocus>{{other_code.content}}</textarea>
      <button type="submit" class="btn btn-success badge btn-run" name="run">Run</button>
        <textarea rows="5"class="col-md-12 cole-sm-12" readonly>{% if output %}{{output}}{% endif %}</textarea>
        </div>
          </form>


  </div>
    <script src="{%  static 'js/ide_custome.js' %}"></script>

</section>





<script>
  var editor = CodeMirror.fromTextArea(document.getElementById("code_id"),{
  lineNumbers: true,
  {% if language == 'java' %}
  mode : 'javascript',
  {% else %}
  mode : '{{language}}',
  {% endif %}
  theme : 'dracula'
  });
  editor.setSize(1200, 300);
</script>
{% endblock %}
