{% extends  'home.html'%}
{% load bootstrap4 %}
{% block title %}
Edit Profile
{% endblock %}
{% block bar %}
{% endblock %}

{% block headercontain %}
{% endblock %}


{% block main %}
<section class="site-section bg-light p-2 m-3">
  <div class="container">
   <h4 class="text-center">Edit Profile</h4>
  <form  class="form-group" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form student_form %}
      <button type="submit" class="btn btn-success">Save</button>
    </form>


</section>


{% endblock %}

{% block footer %}
{% endblock %}
