{% extends 'home.html' %}
{% load static %}
{% block title %}
Leader Board
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/leaderboard.css' %}">
{% endblock %}



{% block headercontain %}
 {% endblock %}
{% block main %}
<section class="site-section">
  <div class="container">
    <section class="school-features text-dark ">
      <div class="inner">

          <div class="card text-center">
            <div class="card-body  ">
              <div class="logo">
                <img class="img-responsive"
                src="{{MEDIA_URL}}{{king.rank.logo.url}}"/>
              </div>
              <h4>King</h4>
              <div class="profile-img">
                <img class="rounded-circle img-responsive"
                src="{{MEDIA_URL}}{{king.photo.url}}" />
              </div>

                <p>{{king.user.username}}</p>

                {{king.exp}} exp
          </div>
        </div>


        <!-- leaderboard -->
        <div  class=" leaderboard table-responsive-sm">

          <table class="table  mh-50 table-sm table-hover  table-striped ">
            <thead>
              <tr class="d-flex text-center">
                <th class="col-sm-1">Rank</th>
                  <th class="col-sm-1 hide">photo</th>
                <th class="col-sm-5 ">username</th>
                <th class="col-sm-5">exp</th>
              </tr>
            </thead>
            <tbody>
              {% for student in all_students %}
              <tr class="d-flex text-center"  >
                <th class="col-sm-1">{{ forloop.counter }}</th>
                <th class="col-sm-1 hide"><img class="rounded-circle img-responsive"
                  src="{{MEDIA_URL}}{{student.photo.url}}" width="50%" height="80%" /></th>
                <td class="col-sm-5 ">
                  {% if request.user == student.user %}
                  <a  href="{% url 'profile' %}">{{student.user}}</a>
                  {% else %}
                  <a href="{% url 'user_profile' student.user %}">{{student.user}}</a></td>
                  {% endif %}
                <td class="col-sm-5">{{student.exp}}</td>
              </tr>
              {% endfor %}


            </tbody>
          </table>
        </div>

      </div>
    </section>
  </div>
</section>


{% endblock %}
