{% extends 'home.html' %}
{% load bootstrap4 %}
{% block title %}{% endblock %}




{% block content %}

<div class="container">
   <div class="row">
     <div class="col-lg-8 offset-2">
       <br/>
       <br/>
       <br/>
       <div>
         <div class="card">
            <div class="card-header">
              {% if request.user.student.photo %}
              <img class="circle offset-5" src="{{MEDIA_URL}}{{request.user.student.photo.url}}"
                        width="70" height="70" />
                {%endif%}
                        <a href="{% url 'edit_profile' %}">Edit Profile</a>
                        <br>
                          <p><a href="{% url 'password_reset' %}">reset password</a></p>
                 <h5>{{ request.user.get_username }}</h5>
                 <div class="row">
                      Level : {{level}}
                      <br>
                      Point:   {{request.user.student.exp}} exp
                 </div>

                 {% for interest in interests %}
               <span class="badge "  data-color = '{{interest.color}}'  style="background-color:{{ interest.color }};"
                 >{{ interest }}</span> {% endfor %}

               </div>
               <div class="card-header ">

                 <h6>Taken Course</h6>
                 {% for course in taken_course %}
                 <a class="col" href="#">{{course.course.title}}</a>
                 {% endfor %}

                 <h6>Taken Module</h6>
                 {% for module in taken_module %}
                 <a class="col" href="#">{{module.module.title}}</a>
                 {% endfor %}

                 <h6> Content complited</h6>
                 {% for content in taken_content %}
                 <a class="col" href="#">{{content.content.title}}</a>
                 {% endfor %}
               </div>

<div class="card-footer ">

</div>
<br/>

</div>

</div>
</div>
</div>
</div>

{% endblock %}
