{% extends  'base.html'%}
{% load bootstrap4 %}
{% block title %}
Login
{% endblock %}


{% block content %}
<div class="container">
   <div class="row">
     <div class="col-lg-8 offset-2">
       <br/>
       <br/>
       <br/>
       <div>
         <div class="card">
           <div class="card-body">
                 <h4 class="card-title">Sign In</h4>
<form class="form-group" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Sign In</button>
  </form>
  <br>
  <a href="{% url 'social:begin' 'google' %}">Signup with Google</a><br>
  <a href="{% url 'social:begin' 'github' %}">Signup with GitHub</a>
<br>
 <a href="{% url 'signup' %}"> create new account</a>


{% endblock %}
