{%  extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}
  Reset Your Password
{% endblock %}

{% block content %}
 <h1>Reset your password</h1>
     {% if validlink %}
      <p>Please enter your password twice:</p>
      <form action="." method="POST">
          {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-success" >Change my Password</button>
      </form>
      {% else %}
        <p>The password link was invalide,
        possibly because it has already been used , Please request a new password reset</p>
        {% endif %}

{% endblock %}
