{% extends  'home.html'%}
{% load bootstrap4 %}
{% block title %}
Sign Up
{% endblock %}

{% block header %}
  <h1>Register</h1>
{% endblock %}

{% block main %}
    <section class="site-section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-5 box">
            <h2 class="mb-5">Register new account</h2>
<form method="POST"  enctype="multipart/form-data" >
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form student_form %}
    <button type="submit" class="btn btn-success">Sign Up</button><br>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Signup with Google</a><i class="fas fa-git"></i><br>
    <a href="{% url 'social:begin' 'github' %}">Signup with GitHub</a><br>
    <br>
  Already have account<a href="{% url 'login' %}">login</a>

  </form>
</div>
</div>
</div>
</section>
<!-- END section -->



{% endblock %}
