{% extends 'home.html' %}
{% block main %}
  {% load index %}
<br>
<br>
<br>

<div class="container">
  <div class="row">
    {% for quiz in  quizzes  %}
      {% if quiz.approved %}
    <div class="col">


    <div class="card">

      <div class="card-body">
        <a  href="{% url 'stages' quiz.name  %}">{{quiz.name}}</a>

          <span class="badge badge-dark">
            views {{ views|index:forloop.counter0 }}</span>
           {%if quiz.id in taken_quiz%}
            <i class="fas fa-eye float-right"></i>
           {% endif %}


      </div>

    </div>
      </div>
      {%endif%}
    {% endfor %}
  </div>
</div>
{% endblock %}
