<!doctype html>
{% extends 'home.html' %}

{% block title %}learno  | About US {% endblock %}
{% load static %}
{% block header %}
  <h1>Why We Started E-Learning Business</h1>
{% endblock %}

{% block main %}

    <section class="site-section bg-light">
      <div class="container">

        <div class="row align-items-center">

          <div class="col-md-5">
            <h2 class="mb-4">We Want Make Learning Fun</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur reprehenderit laboriosam, eius ipsa consequuntur eos. Nulla dolorem repudiandae mollitia distinctio eos pariatur dolores, voluptate impedit. Eaque quos, sapiente ipsum possimus.</p>
            <p>Odio ducimus id vero tempora eaque rem voluptatibus tempore sequi ea quod, odit commodi voluptas! Nesciunt dolorum ea repudiandae. Officia eos impedit sapiente tempore, a dolore minus eaque culpa facere.</p>
            <p>Qui dolore quaerat expedita fugiat aperiam consequatur pariatur quod perspiciatis alias magni, recusandae esse dolorem beatae commodi quo labore earum harum odio voluptatibus non, error perferendis at delectus. Ab, amet.</p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6 overflow">
            <img src="{% static 'images/img_1.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>

        <div class="row mb-5 align-items-center">

          <div class="col-md-6 overflow order-1">
            <img src="{% static 'images/img_3.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-1 order-2"></div>
          <div class="col-md-5 order-3">
            <h2 class="mb-4">We Love To Share Our Ideas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur reprehenderit laboriosam, eius ipsa consequuntur eos. Nulla dolorem repudiandae mollitia distinctio eos pariatur dolores, voluptate impedit. Eaque quos, sapiente ipsum possimus.</p>
            <p>Odio ducimus id vero tempora eaque rem voluptatibus tempore sequi ea quod, odit commodi voluptas! Nesciunt dolorum ea repudiandae. Officia eos impedit sapiente tempore, a dolore minus eaque culpa facere.</p>
            <p>Qui dolore quaerat expedita fugiat aperiam consequatur pariatur quod perspiciatis alias magni, recusandae esse dolorem beatae commodi quo labore earum harum odio voluptatibus non, error perferendis at delectus. Ab, amet.</p>
          </div>

        </div>

        <div class="row align-items-center">

          <div class="col-md-6 overflow order-3">
            <img src="{% static 'images/img_2.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="col-md-1 order-2"></div>
          <div class="col-md-5 order-1">
            <h2 class="mb-4">We Are Passionate About Web</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur reprehenderit laboriosam, eius ipsa consequuntur eos. Nulla dolorem repudiandae mollitia distinctio eos pariatur dolores, voluptate impedit. Eaque quos, sapiente ipsum possimus.</p>
            <p>Odio ducimus id vero tempora eaque rem voluptatibus tempore sequi ea quod, odit commodi voluptas! Nesciunt dolorum ea repudiandae. Officia eos impedit sapiente tempore, a dolore minus eaque culpa facere.</p>
            <p>Qui dolore quaerat expedita fugiat aperiam consequatur pariatur quod perspiciatis alias magni, recusandae esse dolorem beatae commodi quo labore earum harum odio voluptatibus non, error perferendis at delectus. Ab, amet.</p>
          </div>

        </div>

      </div>
    </section>
    <!-- END section -->

    <section class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center">
            <h2>Meet Learno Team</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magnam illum maiores adipisci pariatur, eveniet.</p>
          </div>
        </div>
        <section class="school-features text-dark d-flex">

          <div class="inner">
            <div class="media d-block feature text-center">
              <img src="{% static 'images/person_testimonial_1.jpg' %}" alt="Image placeholder" class="mb-3">
              <div class="media-body">
                <h3 class="mt-0">Toumi Abderramane</h3>
                <p class="instructor-meta">Amateur Web Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!</p>
              </div>
            </div>

            <div class="media d-block feature text-center">
              <img src="{% static 'images/person_testimonial_1.jpg' %}" alt="Image placeholder" class="mb-3">
              <div class="media-body">
                <h3 class="mt-0">Toumi Abderramane</h3>
                <p class="instructor-meta">Amateur Web Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!</p>
              </div>
            </div>

            <div class="media d-block feature text-center">
              <img src="{% static 'images/person_testimonial_1.jpg' %}" alt="Image placeholder" class="mb-3">
              <div class="media-body">
                <h3 class="mt-0">Toumi Abderramane</h3>
                <p class="instructor-meta">Amateur Web Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!</p>
              </div>
            </div>

            <div class="media d-block feature text-center">
              <img src="{% static 'images/person_testimonial_1.jpg' %}" alt="Image placeholder" class="mb-3">
              <div class="media-body">
                <h3 class="mt-0">Toumi Abderramane</h3>
                <p class="instructor-meta">Amateur Web Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!</p>
              </div>
            </div>
        </section>

        <section class="school-features text-dark last d-flex">

          <div class="inner">
            <div class="media d-block feature text-center">
              <img src="{% static 'images/person_testimonial_1.jpg' %}" alt="Image placeholder" class="mb-3">
              <div class="media-body">
                <h3 class="mt-0">Toumi Abderramane</h3>
                <p class="instructor-meta">Amateur Web Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!</p>
              </div>
            </div>

            <div class="media d-block feature text-center">
              <img src="{% static 'images/person_testimonial_1.jpg' %}" alt="Image placeholder" class="mb-3">
              <div class="media-body">
                <h3 class="mt-0">Toumi Abderramane</h3>
                <p class="instructor-meta">Amateur Web Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!</p>
              </div>
            </div>

            <div class="media d-block feature text-center">
              <img src="{% static 'images/person_testimonial_1.jpg' %}" alt="Image placeholder" class="mb-3">
              <div class="media-body">
                <h3 class="mt-0">Toumi Abderramane</h3>
                <p class="instructor-meta">Amateur Web Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!</p>
              </div>
            </div>

            <div class="media d-block feature text-center">
              <img src="{% static 'images/person_testimonial_1.jpg' %}" alt="Image placeholder" class="mb-3">
              <div class="media-body">
                <h3 class="mt-0">Toumi Abderramane</h3>
                <p class="instructor-meta">Amateur Web Developer</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora fuga suscipit numquam esse saepe quam, eveniet iure assumenda dignissimos aliquam!</p>
              </div>
            </div>
          </div>


        </section>


      </div>
    </section>
    <!-- END section -->
{% endblock %}
