<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

      <link rel="stylesheet" href="{% static 'font-awesome/css/all.min.css' %}">
  </head>
  <body>
    {% block bar %}
    {{request.user.login_count}}
    {{request.user.last_login}}
    <a href="{% url 'home' %}">Home</a>
    <br>
    <a href="{% url  'subjects' %}">Subjects</a>
  {% if user.is_authenticated %}
  <br>
  <a href="{% url 'logout' %}">Logout</a>
  <br>
   <a href="{% url 'profile' %}">Account</a>
  <br>
   <a href="{% url 'leaderboard' %}">Leaderboard</a>
  {% else %}
  <br>
<a href="{% url 'signup' %}"> Sign up</a>

<br>
<a href="{% url 'login' %}"> Sign in</a>
{% endif %}
<br>
<a href="{% url 'coding-ground' %}">Coding ground</a>
{% endblock %}

    {% block main %}
      Welcome {{request.user.student}}
      <br>
    <div class="container">
      <div class="row ">
<form class="" method="POST">
  {%csrf_token%}
   {% bootstrap_form search_form %}
   <button class="btn btn-primary"type="submit" name="button">Search</button>
</form>
{% if search_query %}
     {% for search in search_query %}
      <br>
        <a href="{% url 'modules' search.subject.slug search.slug %}">{{search.title}}</a>
     {% endfor %}
{% else %}
      {% for sub in  subject %}
    <div class="col-3">
       {% if sub.approved %}
            <div class="card ">

                  <h4 class="card-title">{{sub.title}}</h4>
                      <div class="card-body">
                         {{sub.description | truncatewords:"10"}}
                         <br>
                         <a href="{% url 'courses' sub.slug %}"
                         class="card-link btn btn-primary">More</a>
                       </div>
           </div>
       {% endif %}
     </div>
      {% endfor %}
{% endif %}
    </div>
    </div>
    {% endblock %}

  </body>

        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

        <script src="{% static 'js/custom.js' %}"></script>
</html>
