{% extends 'base_course.html' %}
{%block title %}{{module.title}}{% endblock %}

{% block header %}

<h1>About module</h1>

{% if start_first_content %}

<p>{{start_first_content.module.description}}
<br>

answer  {{count_content}}qestions to complete  this module
and get  20 more points
<br>
by completing all the modules of the course you will get 50 points
</p>

<p><a class="btn btn-success" href="{% url 'learn' module start_first_content.slug  %}">
Start
</a></p>
{%else%}
<p>there is nothing to learn here </p>
{% endif %}

{% endblock %}
