{% extends 'base_course.html' %}
{%block title %}{{module.title}}{% endblock %}

{% block content %}
    <div class="card">
      <div class="card-body">
        {% for content in module_content %}
                   <br>
                   <a href="{% url 'learn' module.title content.title %}">{{content.title}}</a>
                      {%  if content.id in student_taken_content%}
                      <i class="fas fa-eye float-right"></i>
                     {% endif %}

        {% endfor %}

    </div>
</div>
{% endblock %}
