{% extends 'base_course.html'  %}
{% load bootstrap4 %}
{% block bar %}{% endblock %}
{% block headercontain %}{% endblock %}
{% block title %}question | {{ this_question.content.title }}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}
{% load static %}

{% if result == False %}
<div class="alert alert-danger text-center" role="alert">
  Wrong answer try again
  <audio autoplay>
  <source src="{% static 'wrong.mp3' %}" type="audio/mpeg">
</audio>
</div>
{% endif %}

<section class=" d-flex justify-content-center align-self-center">
  <div class="content">
    <div class="card row ">
      <div class="card-body col-lg-12">
        <h4 class="text-center">{{ this_question }}</h4>
        <hr>
        <form  method="POST">
          {%csrf_token%}
          {% for answer in this_question_answers %}
          <br>
            <input type="checkbox" name="answer" value="{{answer.id}}"> {{answer.text}}
          {%endfor%}
          <br>
          <hr>
         <button class=" btn btn-success" type="submit" name="button">submit</button>
        </form>
      </div>
    </div>
  </div>

</section>

{% endblock %}
