{% extends 'base_course.html' %}
{%block title %}{{module.title}}{% endblock %}

{% block content %}

        {% for content in module_content %}
        <div class="card">
          <div class="card-body">
                   <br>
                   <a href="{% url 'learn' module.title content.title %}">{{content.title}}</a>
                  
                      {%  if content.id in student_taken_content %}
                      <i class="fas fa-eye float-right"></i>
                     {% endif %}
                   </div>
               </div>
        {% endfor %}


{% endblock %}
