{% extends 'base_course.html' %}
{% load index %}
{% block title %}{{subject.title}}{% endblock %}


{% block content %}
<div class="container">
  <div class="row ">

{% for course in subject_course %}

<div class="col-3">

      {% if course.approved %}
        <div class="card ">

              <h4 class="card-title">{{course.title}}</h4>
                  <div class="card-body">
                    {% if course.photo %}
                    <img class="card-img-top" src="{{ course.photo.url }}"
                    alt="Card image" style="width:100%">
                    {% endif %}
                     {{course.overview | truncatewords:"10"}}
                     <br>
                     <a href="{% url  'modules' subject.title course.title  %}"
                     class="card-link btn btn-primary">More</a>
                   </div>
                   <div class="card-footer">
                     <span class="badge badge-dark">
                       views {{ views|index:forloop.counter0 }}</span>
                      {%  if course.id in student_taken_course %}
                      <i class="fas fa-eye float-right"></i>
                     {% endif %}
                   </div>
       </div>
       {% endif %}


 </div>

  {% endfor %}

</div>
</div>
{% endblock %}
