{% extends 'base_course.html'  %}
{% load bootstrap4 %}
{% block title %}{{content.title}}{% endblock %}

{% block learn %}

<div class="card">
  <div class="card-body">
    <div class="embed-responsive  embed-responsive-16by9">
      <iframe width="560" height="315"
      src="{{ content_learn.video}}"
      class="embed-responsive-item"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media;
      gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {{ content_learn.text}}


  </div>
  <div class="card-footer">
    <h1>Take some note about this course</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      {% bootstrap_form note_form %}
      <button type="submit" class="btn btn-primary" name="save">Save</button>

    </form>

  </div>

</div>


{% endblock %}
