{% extends 'base_course.html'  %}
{% load bootstrap4 %}
{% block title %}{{content.title}}{% endblock %}

{% block learn %}
<h1>{{content.title}}</h1>
<div class="card">
  <div class="card-body">
    <div class="embed-responsive  embed-responsive-16by9">
      <iframe width="560" height="315"
      src="{{content_learn.video}}"
      class="embed-responsive-item"
      frameborder="0" allow="accelerometer; autoplay; encrypted-media;
      gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {{ content_learn.text}}


  </div>
  <div class="card-footer">
    <h1>Take some note about this course</h1>
    <form class="form-answer-ajax" method="POST" >
        {% csrf_token %}
      {% bootstrap_form note_form %}
      <button type="submit" class="btn btn-primary" name="save">Save</button>

    </form>

 <a class="btn btn-success" href="{% url 'learn-question' content_learn.module.slug content_learn.slug content_learn.question.pk %} ">next</a>
  </div>

</div>


{% endblock %}
