

{% extends 'base_course.html' %}

{% block title %}{{course.title}}{% endblock %}


{% block content %}
<div class="container">
  <div class="row ">

  {% for module in  course_module %}
<div class="col-3">

   {% if module.approved %}
        <div class="card ">

              <h4 class="card-title">{{module.title}}</h4>
                  <div class="card-body">
                    {% if module.photo %}
                    <img class="card-img-top" src="{{ module.photo.url }}"
                    alt="Card image" style="width:100%">
                    {% endif %}
                     {{module.description | truncatewords:"10"}}

                     <br>
                     {% if module in completed_module %}
                     <a href="{% url 'contents' course module.slug %}"
                     class="card-link btn btn-primary">More</a>
                     {%else%}
                     <a {% if module == next_module %}
                     href="{% url 'contents' course module.slug %}"
                     class="card-link btn btn-primary"
                     class="card-link btn ">More
                     {%endif%}
                     </a>
                     {%endif%}
                   </div>
                   <div class="card-footer">
                     <span class="badge badge-dark">


                      {%  if module.id in student_taken_module %}
                      <i class="fas fa-eye float-right"></i>
                     {% endif %}
                   </div>
       </div>

    {% endif %}
 </div>
  {% endfor %}

</div>
</div>
{% endblock %}
